 <div class="bg-primary text-center text-white py-5">
        <h1 class="display-4">Watchlist</h1>
</div>

<div class="container mt-4">
    <h2 class="mb-4">Your Lists</h2>
    <div class="row">
        <% @lists.each do |list| %>
            <div class="col-md-12 mb-4"> <!-- Increase margin-bottom for more space -->
                <div class="d-flex">
                    <div class="picture-frame mr-5"> <!-- Increase margin-right for more space -->
                        <img src="image1.jpg" alt="List Image" class="img-fluid">
                    </div>
                    <div>
                        <a href="<%= list_path(list) %>" class="btn btn-primary btn-sm"><%= list.name %></a>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
</div>

